@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


html, body {

    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: ghostwhite;

}


body {

    width: 90vw;
    height: 100vh;
    font-family: "roboto", sans-serif;
    font-size: 10px;
    letter-spacing: 0.03em;

}


h1 {

    color: #B40B00;
    text-align: center;
    font-size: 3.6em;
    font-weight: 600;
    padding: 2rem;

}

p {

    color: #696969;
    text-align: justify;
    font-size: 1.6em;
    line-height: 1.8em;
    letter-spacing: 0.09em;

}


select {

    background-color: #B40B00;
    border: 3px solid #B40B00;
    margin: 1em auto;
    height: 2em;
    width: 15em;
    color: ghostwhite;
    text-align: center;
    letter-spacing: 0.09em;

}


table {

    border: 2px solid #B40B00;
    border-left: 0;
    border-spacing: 0;
    margin: 1.5rem 0;
}


th {

    border-left: 2px solid #B40B00;
    color: #696969;
    font-weight: 500;
    text-align: center;
    font-size: 1.4em;
    padding: 0.5em;

}


td {

    border-top: 2px solid #B40B00;
    border-left: 2px solid #B40B00;
    color: #696969;
    font-weight: 300 ;
    font-size: 1.2em;
    padding: 0.5em;
    
}


.divisor {

    display: grid;
    grid-template-columns: 2fr 1fr;

}


.soma {
    
    display: none;
    margin-left: 2rem;
    margin-top: 1.2rem;

}


#mapa {

    margin: 0 auto;
    width: 90%;
    height: calc(90% - 100px);
    background-color: ghostwhite;
    overflow: scroll;
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;

}


svg {

    height: 100%;
    width: 100%;

}


svg path {

    fill: #696969;
    stroke: ghostwhite;
    stroke-width: 40;
    cursor: pointer;

}